<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the Home Page</h1>
    <p>This is a Sample EJS Code</p>
    <h3><%= ["HELLO","BONJOUR","APNI KAKSHA"][2]  %></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste adipisci quo atque, dignissimos facere dolore dicta animi quis quod fugit, quae placeat, harum quaerat! Odit nobis dolorum iure similique libero!</p>
    <button>Click Me</button>
</body>
</html>