<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New POST</title>
</head>
<body>
    <form action="/posts" method="POST">
        <label for="username">Enter Your Username</label> <br>
        <input type="text" placeholder="Enter Username" name="username">
        <br><br>
        <label for="content">Create a New POST</label><br>
        <textarea name="content" rows="10" cols="30" placeholder="Enter New Content"></textarea>
        <br><br>
        <button>Submit POST</button>
    </form>
</body>
</html>